@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
@using SignalRBlazor.Shared.Hubs
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<button @onclick="Login" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>
<hr />
List of User Signal R
<ul>
    @foreach (var item in ListUser)
    {
        <li>@item</li>
    }
</ul>
@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private List<string> ListUser = new List<string>();
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")) //hub signal R base on class Name
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });
        hubConnection.On<List<string>>("UpdateUserList", (user) =>
        {
            ListUser = user;
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }
    }
    private async Task Login()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("LoginMessage", userInput);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
        hubConnection.On<List<string>>("UpdateUserList", (user) =>
            {
                ListUser = user;
                InvokeAsync(StateHasChanged);
            });
    }
}